{% macro write_callbck_function(loop_index, is_backward=False) %}
{% set policy = policies[loop_index - 1] %}
{% set policy_name = policy.name.replace("-", "_") %}
{% set for_or_back = "backward" if is_backward else "forward" %}
{% set policy_jinja = "{}_backward".format(policy_name) if is_backward else policy_name %}
/**
 * @brief {{policy_jinja}} callback function, called when a packet enters the queue.
 * 
 * @param pkt_id packet ID for netfilter queue
 * @param pkt_len packet length, in bytes
 * @param payload pointer to the packet payload
 * @param arg pointer to the argument passed to the callback function
 * @return the verdict for the packet
 */
uint32_t callback_{{policy_jinja}}(int pkt_id, int pkt_len, uint8_t *payload, void *arg) {
    printf("Received packet\n");
    {% if multithread and policy.counters %}
    uint8_t thread_id = *((uint8_t *) arg);
    {% endif %}
    {% if policy.custom_parser == 'ssdp' %}
    uint32_t dst_addr = get_ipv4_dst_addr(payload);  // IPv4 destination address, in network byte order
    {% endif %}
    {% if policy.nfq_matches %}
    // Skip layer 3 and 4 headers
    {% if policy.custom_parser == 'http' or policy.custom_parser == 'coap' %}
    size_t l3_header_length = get_l3_header_length(payload);
    {% if policy.custom_parser == 'http' %}
    uint16_t dst_port = get_dst_port(payload + l3_header_length);
    {% elif policy.custom_parser == 'coap' %}
    uint16_t coap_length = get_udp_payload_length(payload + l3_header_length);
    {% endif %}
    {% endif %}
    size_t skipped = get_headers_length(payload);
    {% if policy.custom_parser == 'http' %}
    bool has_payload = pkt_len - skipped >= HTTP_MESSAGE_MIN_LEN;
    {% endif %}

    // Parse message
    {% if policy.custom_parser == "mdns" %}
    dns_message_t message = dns_parse_message(payload + skipped);
    dns_print_message(message);
    {% else %}
    {{policy.custom_parser}}_message_t message = {{policy.custom_parser}}_parse_message(payload + skipped
    {%- if policy.custom_parser == 'http' -%}
    , dst_port
    {%- elif policy.custom_parser == 'ssdp' -%}
    , dst_addr
    {%- elif policy.custom_parser == 'coap' -%}
    , coap_length
    {%- endif -%}
    );
    {{policy.custom_parser}}_print_message(message);
    {% endif %}
    {% endif %}
    uint32_t verdict = NF_ACCEPT;

    {% if multithread %}
    {% if policy.transient %}
    // Initialize counters if not initialized yet
    if (!initial_values[thread_id].is_initialized) {
        initial_values[thread_id] = counters_init("{{nft_table}}", "{{policy.name}}");
    }
    {% endif %}

    // Custom match
    {% if policy.nfq_matches %}
    if (
        {% if policy.custom_parser == 'http' %}
        !has_payload || (
        {% endif %}
        {% if policy.nfq_matches %}
        {{policy.nfq_matches[0][for_or_back]}}
        {% for match in policy.nfq_matches[1:] %}
        {% if for_or_back in match %}
        && {{match[for_or_back]}}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if policy.custom_parser == 'http' %}
        )
        {% endif %}
    ) {
    {% endif %}
        pthread_mutex_lock(&mutex);
        {% set previous_policy = policies[(loop_index - 2) % policies|length] %}
        {% set state_index = current_state.value - 1 if is_backward and policy.transient else current_state.value %}
        if (state == {{states[state_index]}}
        {%- if previous_policy.transient %} || state == {{states[state_index - 1]}} {%- endif -%}
        ) {
            {% if not policy.periodic and not policy.transient %}
            {% set current_state.value = current_state.value if is_backward and policy.transient else (current_state.value + 1) % states|length %}
            state = {{states[current_state.value]}};
            {% endif %}
            {% if policy.transient %}
            if (
                {% set direction = "in" if is_backward else "out" %}
                {% if "packet-count" in policy.counters and "default" in policy.counters["packet-count"] %}
                counter_read_packets("{{nft_table}}", "{{policy.name}}") - initial_values[thread_id].packets_both >= {{policy.counters["packet-count"]["default"]}}
                {% elif "packet-count" in policy.counters and direction in policy.counters["packet-count"] %}
                counter_read_packets("{{nft_table}}", "{{policy.name}}-{{direction}}") - initial_values[thread_id].packets_{{direction}} >= {{policy.counters["packet-count"][direction]}}
                {% endif %}
                {% if policy.counters|length > 1 %}
                && {% endif -%}
                {%- if "duration" in policy.counters and "default" in policy.counters["duration"] -%}
                counter_read_microseconds() - initial_values[thread_id].microseconds >= {{policy.counters["duration"]["default"]}}
                {% elif "duration" in policy.counters and direction in policy.counters["duration"] %}
                counter_read_microseconds() - initial_values[thread_id].microseconds >= {{policy.counters["duration"][direction]}}
                {% endif %}
            ) {
                {% set current_state.value = current_state.value if is_backward and policy.transient else (current_state.value + 1) % states|length %}
                state = {{states[current_state.value]}};
                initial_values[thread_id].is_initialized = false;
            }
            {% endif %}
            pthread_mutex_unlock(&mutex);
            {% set previous_policy = policies[(loop_index - 2) % policies|length] %}
            {% if previous_policy.periodic %}
            {% set previous_rules = previous_policy.build_nft_rule(-1) %}
            {% set previous_rule_forward = previous_rules['forward'].replace("\"", "\'") %}
            delete_nft_rule("{{nft_table}}", "{{nft_chain}}", "{{previous_rule_forward}}");
            {% if 'backward' in previous_rules %}
            {% set previous_rule_backward = previous_rules['backward'].replace("\"", "\'") %}
            delete_nft_rule("{{nft_table}}", "{{nft_chain}}", "{{previous_rule_backward}}");
            {% endif %}
            {% endif %}
            {% set next_policy = policies[loop_index % policies|length] %}
            {% if next_policy.periodic and (policy.transient != is_backward) %}
            {% set next_rules = next_policy.build_nft_rule(-1) %}
            // Add nftables rule for next match
            {% set next_rule_forward = next_rules['forward'].replace("\"", "\'") %}
            system("sudo nft add rule {{nft_table}} {{nft_chain}} {{next_rule_forward}}");
            {% if 'backward' in next_rules %}
            {% set next_rule_backward = next_rules['backward'].replace("\"", "\'") %}
            system("sudo nft add rule {{nft_table}} {{nft_chain}} {{next_rule_backward}}");
            {% endif %}
            {% endif %}
            verdict = NF_ACCEPT;
            printf("Accept: policy {{policy.name}}, backward = {{is_backward}}, state = {{states[state_index]}}\n");
        } else {
            pthread_mutex_unlock(&mutex);
        }
    {% if policy.nfq_matches %}
    }
    {% endif %}
    {% else %}
    {% if policy.transient %}
    // Initialize counters if not initialized yet
    if (!initial_values.is_initialized) {
        initial_values = counters_init("{{nft_table}}", "{{policy.name}}");
    }

    {% endif %}
    // Custom match
    if (
        {% if policy.custom_parser == 'http' %}
        !has_payload || (
        {% endif %}
        {% if states|length > 1 %}
        {% set previous_policy = policies[(loop_index - 2) % policies|length] %}
        {% set state_index = current_state.value - 1 if is_backward and policy.transient else current_state.value %}
        {% if previous_policy.transient %}
        ( {% endif %}
        state == {{states[state_index]}}
        {% if previous_policy.transient %} || state == {{states[state_index - 1]}} )
        {% endif %}
        {% endif %}
        {% for match in policy.nfq_matches %}
        {% if for_or_back in match %}
        {{match[for_or_back]}}
        {% endif %}
        {%- if loop.index < policy.nfq_matches|length or policy.counters %} &&
        {% endif %}
        {% endfor %}
        {% set direction = "in" if is_backward else "out" %}
        {% if "packet-count" in policy.counters and "default" in policy.counters["packet-count"] %}
        counter_read_packets("{{nft_table}}", "{{policy.name}}") - initial_values.packets_both <= {{policy.counters["packet-count"]["default"]}}
        {%- if "duration" in policy.counters %} &&
        {% endif %}
        {% elif "packet-count" in policy.counters and direction in policy.counters["packet-count"] -%}
        counter_read_packets("{{nft_table}}", "{{policy.name}}") - initial_values.packets_{{direction}} <= {{policy.counters["packet-count"][direction]}}
        {% endif %}
        {% if "duration" in policy.counters and "default" in policy.counters["duration"] %}
        counter_read_microseconds() - initial_values.microseconds <= {{policy.counters["duration"]["default"]}}
        {% elif "duration" in policy.counters and direction in policy.counters["duration"] %}
        counter_read_microseconds() - initial_values.microseconds <= {{policy.counters["duration"][direction]}}
        {% endif %}
        {% if policy.custom_parser == 'http' %}
        )
        {% endif %}
    ) {
        {% if states|length > 1 %}
        {% set current_state.value = current_state.value if is_backward and policy.transient else (current_state.value + 1) % states|length %}
        {% if not policy.periodic and not policy.transient %}
        state = {{states[current_state.value]}};
        {% if policy.transient %}
        initial_values.is_initialized = false;
        {% endif %}
        {% endif %}
        {% endif %}
        {% if policies|length > 1 %}
        {% set previous_policy = policies[(loop_index - 2) % policies|length] %}
        {% if previous_policy.periodic %}
        {% set previous_rules = previous_policy.build_nft_rule(-1) %}
        {% set previous_rule_forward = previous_rules['forward'].replace("\"", "\'") %}
        delete_nft_rule("{{nft_table}}", "{{nft_chain}}", "{{previous_rule_forward}}");
        {% if 'backward' in previous_rules %}
        {% set previous_rule_backward = previous_rules['backward'].replace("\"", "\'") %}
        delete_nft_rule("{{nft_table}}", "{{nft_chain}}", "{{previous_rule_backward}}");
        {% endif %}
        {% endif %}
        {% set next_policy = policies[loop_index % policies|length] %}
        {% if next_policy.periodic and (policy.transient != is_backward) %}
        {% set next_rules = next_policy.build_nft_rule(-1) %}
        {% set next_rule_forward = next_rules['forward'].replace("\"", "\'") %}
        system("sudo nft add rule {{nft_table}} {{nft_chain}} {{next_rule_forward}}");
        {% if 'backward' in next_rules %}
        {% set next_rule_backward = next_rules['backward'].replace("\"", "\'") %}
        system("sudo nft add rule {{nft_table}} {{nft_chain}} {{next_rule_backward}}");
        {% endif %}
        {% endif %}
        {% endif %}
        verdict = NF_ACCEPT;
        printf("Accept: policy {{policy.name}}, backward = {{is_backward}}, state = {{current_state.value}}\n");
    }
    {% endif %}

    return verdict;
}
{% endmacro %}

{% set current_state = namespace(value=0) %}
{% for policy in policies %}
{% if not policy.periodic %}

{{ write_callbck_function(loop.index) }}

{% if policy.direction == "both" %}
{{ write_callbck_function(loop.index, True) }}
{% endif %}

{% endif %}
{% endfor %}
