{% set policy_jinja = policy.replace('-', '_') %}


/**
 * @brief {{policy_jinja}} callback function, called when a packet enters the queue.
 * 
 * @param pkt_id packet ID for netfilter queue
 * @param payload pointer to the packet payload
 * @param arg pointer to the argument passed to the callback function
 * @return the verdict for the packet
 */
uint32_t callback_{{policy_jinja}}(int pkt_id, uint8_t *payload, void *arg) {
    printf("Received packet\n");
    {% if nfq %}
    // Skip layer 3 and 4 headers
    size_t skipped = get_ip_header_length(payload);
    {% if custom_parsers[policy] == 'http' %}
    uint16_t src_port = get_src_port(payload + skipped);
    {% endif %}
    skipped += get_tcp_header_length(payload + skipped);

    // Parse message
    {% if custom_parsers[policy] == "mdns" %}
    dns_message_t message = dns_parse_message(payload + skipped);
    dns_print_message(message);
    {% else %}
    {{custom_parsers[policy]}}_message_t message = {{custom_parsers[policy]}}_parse_message(payload + skipped
    {%- if custom_parsers[policy] == 'http' -%}
    , src_port
    {%- endif -%}
    );
    {{custom_parsers[policy]}}_print_message(message);
    {% endif %}
    {% endif %}
    uint32_t verdict = NF_DROP;

    // Custom match
    {% if multithread %}
    {% if nfq %}
    if (
        {{nfq[0]["forward"]}}
        {% for match in nfq[1:] %}
        && {{match["forward"]}}
        {% endfor %}
    ) {
    {% endif %}
        pthread_mutex_lock(&mutex);
        if (state == {{states[current_state]}}) {
            state = {{states[(current_state + 1) % states|length]}};
            pthread_mutex_unlock(&mutex);
            verdict = NF_ACCEPT;
        } else {
            pthread_mutex_unlock(&mutex);
        }
    {% if direction == "both" %}
    {% if nfq %}
    } else if (
        {{nfq[0]["backward"]}}
        {% for match in nfq[1:] %}
        {% if "backward" in match %}
        && {{match["backward"]}}
        {% endif %}
        {% endfor %}
    ) {
    {% endif %}
    {% if not nfq %}
    } else {
    {% endif %}
        pthread_mutex_lock(&mutex);
        if (state == {{states[(current_state + 1) % states|length]}}) {
            state = {{states[(current_state + 2) % states|length]}};
            pthread_mutex_unlock(&mutex);
            verdict = NF_ACCEPT;
        } else {
            pthread_mutex_unlock(&mutex);
        }
    {% endif %}
    {% else %}
    if (
        state == {{states[current_state]}}
        {% for match in nfq %}
        && {{match["forward"]}}
        {% endfor %}
    ) {
        state = {{states[(current_state + 1) % states|length]}};
        verdict = NF_ACCEPT;
    {% if direction == "both" %}
    } else if (
        state == {{states[(current_state + 1) % states|length]}}
        {% for match in nfq %}
        {% if "backward" in match %}
        && {{match["backward"]}}
        {% endif %}
        {% endfor %}
    ) {
        state = {{states[(current_state + 2) % states|length]}};
        verdict = NF_ACCEPT;
    {% endif %}
    {% endif %}
    {% if nfq %}
    }
    {% endif %}

    return verdict;
}

