{% set device_jinja = device.upper().replace("-", "_") %}
# Minimum required CMake version
cmake_minimum_required(VERSION 3.2)

set({{device_jinja}}_BIN_DIR ${BIN_DIR}/devices/{{device}})
set(EXECUTABLE_OUTPUT_PATH {{'${'}}{{device_jinja}}_BIN_DIR{{'}'}})

{% for queue in nfqueues %}
{% set target = "{}-{}".format(device, queue) %}
# Queue {{queue}}
add_executable({{target}} nfqueues/{{queue}}.c)
target_link_libraries({{target}} pthread)
target_link_libraries({{target}} nfqueue packet_utils nft_counter)
target_link_libraries({{target}} ${PARSERS})
target_include_directories({{target}} PRIVATE ${INCLUDE_DIR})
install(TARGETS {{target}} DESTINATION ${XIAOMI_CAM_BIN_DIR})

{% endfor %}
