#!/usr/sbin/nft -f

table netdev {{device}} {

    # Counters
    {% for policy in counters %}
    {% if "out" in counters[policy] and "in" in counters[policy] %}
    counter {{policy}}-out {}
    counter {{policy}}-in {}
    {% else %}
    counter {{policy}} {}
    {% endif %}
    {% endfor %}


    # Chain INGRESS, contains all the rules
    chain ingress {
        
        # Chain configuration
        type filter hook ingress device enp0s8 priority 0; policy drop;


        ### POLICIES ###

        {% for top_policy in nft_policies %}
        # Policy {{top_policy}}
        {% for single_policy in nft_policies[top_policy] %}
        {{nft_policies[top_policy][single_policy]}}
        {% endfor %}


        {% endfor %}

    }

}
