#!/usr/sbin/nft -f

table netdev {{device}} {

    # Counters
    {% for policy in counters %}
    {% if "out" in counters[policy] and "in" in counters[policy] %}
    counter {{policy}}-out {}
    counter {{policy}}-in {}
    {% else %}
    counter {{policy}} {}
    {% endif %}
    {% endfor %}


    # Chain INGRESS, contains all the rules
    chain ingress {
        
        # Chain configuration
        type filter hook ingress device enp0s8 priority 0; policy drop;


        ### POLICIES ###

        {% for policy in nft_policies %}
        # Policy {{policy}}
        {% for rule in nft_policies[policy] %}
        {{rule["forward"]}}
        {% if "backward" in rule %}
        {{rule["backward"]}}
        {% endif %}
        {% endfor %}


        {% endfor %}

    }

}
