/**
 * @brief Program entry point
 * 
 * @param argc number of command line arguments
 * @param argv list of command line arguments
 * @return exit code, 0 if success
 */
int main(int argc, char const *argv[]) {
    // Initialize DNS map
    dns_map = dns_map_create();

    {% if multithread %}
    // Initialize state mutex
    int ret = pthread_mutex_init(&mutex, NULL);
    assert(ret == 0);

    // Initialize initial_values structures
    for (uint8_t i = 0; i < MAX_THREADS; i++) {
        initial_values[i].is_initialized = false;
    }

    // Create threads
    uint8_t i = 0;
    pthread_t threads[MAX_THREADS];

    {% for policy in policies %}
    {% if not policy.periodic %}
    {% set policy_jinja = policy.name.replace('-', '_') %}
    // {{policy_jinja}}
    uint8_t thread_id_{{policy_jinja}} = i;
    thread_arg_t thread_arg_{{policy_jinja}} = {
        .queue_id = NFQ_ID_BASE + i,
        .func = &callback_{{policy_jinja}},
        .arg = &thread_id_{{policy_jinja}}
    };
    ret = pthread_create(&threads[i++], NULL, nfqueue_thread, (void *) &thread_arg_{{policy_jinja}});
    assert(ret == 0);

    {% if policy.direction == "both" %}
    {% set policy_jinja = "{}_backward".format(policy.name.replace('-', '_')) %}
    // {{policy_jinja}}
    uint8_t thread_id_{{policy_jinja}} = i;
    thread_arg_t thread_arg_{{policy_jinja}} = {
        .queue_id = NFQ_ID_BASE + i,
        .func = &callback_{{policy_jinja}},
        .arg = &thread_id_{{policy_jinja}}
    };
    ret = pthread_create(&threads[i++], NULL, nfqueue_thread, (void *) &thread_arg_{{policy_jinja}});
    assert(ret == 0);
    {% endif %}
    
    {% endif %}
    {% endfor %}
    // Wait forever for threads
    for (i = 0; i < MAX_THREADS; i++) {
        pthread_join(threads[i], NULL);
    }

    // Destroy mutex
    pthread_mutex_destroy(&mutex);
    {% else %}
    // Initialize inital_values structure
    initial_values.is_initialized = false;

    // Bind to netfilter queue
    bind_queue(NFQ_ID_BASE, &callback_{{policies[0].name.replace('-', '_')}}, NULL);
    {% endif %}

    return 0;
}
