/**
 * @brief Program entry point
 * 
 * @param argc number of command line arguments
 * @param argv list of command line arguments
 * @return exit code, 0 if success
 */
int main(int argc, char const *argv[]) {
    {% if "dns" in custom_parsers or "mdns" in custom_parsers %}
    // Initialize DNS map
    dns_map = dns_map_create();
    {% endif %}

    {% if multithread %}
    // Initialize state mutex
    int ret = pthread_mutex_init(&mutex, NULL);
    assert(ret == 0);

    {% if "packet-count" in max_counters and max_counters["packet-count"] > 0 %}
    // Initialize packet count structures
    for (uint8_t i = 0; i < MAX_PACKET_COUNTERS; i++) {
        packet_count_init[i].is_initialized = false;
    }
    {% endif %}

    {% if "duration" in max_counters and max_counters["duration"] > 0 %}
    // Initialize duration structures
    for (uint8_t i = 0; i < MAX_DURATION_COUNTERS; i++) {
        duration_init[i].is_initialized = false;
    }
    {% endif %}

    // Create threads
    uint8_t i = 0;
    uint8_t current_packet_counter_id = 0;
    uint8_t current_duration_counter_id = 0;
    pthread_t threads[MAX_THREADS];

    {% set first_packet_counter = namespace(value=True) %}
    {% set first_duration_counter = namespace(value=True) %}
    {% for policy in policies %}
    {% if not policy.periodic %}
    {% set policy_jinja = policy.name.replace('-', '_') %}
    // {{policy_jinja}}
    {% if "packet-count" in policy.counters %}
    {% if not first_packet_counter.value %}
    current_packet_counter_id++;
    {% endif %}
    {% set first_packet_counter.value = False %}
    {% endif %}
    {% if "duration" in policy.counters %}
    {% if not first_duration_counter.value %}
    current_duration_counter_id++;
    {% endif %}
    {% set first_duration_counter.value = False %}
    {% endif %}
    counters_id_t counters_id_{{policy_jinja}} = {
        .packet_counter_id = current_packet_counter_id,
        .duration_counter_id = current_duration_counter_id
    };
    thread_arg_t thread_arg_{{policy_jinja}} = {
        .queue_id = NFQ_ID_BASE + i,
        .func = &callback_{{policy_jinja}},
        .arg = &counters_id_{{policy_jinja}}
    };
    ret = pthread_create(&threads[i++], NULL, nfqueue_thread, (void *) &thread_arg_{{policy_jinja}});
    assert(ret == 0);
    
    {% endif %}
    {% endfor %}
    // Wait forever for threads
    for (i = 0; i < MAX_THREADS; i++) {
        pthread_join(threads[i], NULL);
    }

    // Destroy mutex
    pthread_mutex_destroy(&mutex);
    {% else %}

    {% if "packet-count" in max_counters and max_counters["packet-count"] > 0 %}
    // Initialize packet count initial values
    packet_count_init.is_initialized = false;
    {% endif %}

    {% if "duration" in max_counters and max_counters["duration"] > 0 %}
    // Initialize duration initial value
    duration_init.is_initialized = false;
    {% endif %}

    // Bind to netfilter queue
    bind_queue(NFQ_ID_BASE, &callback_{{policies[0].name.replace('-', '_')}}, NULL);
    {% endif %}

    return 0;
}
